<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistracijaServlet</servlet-name>
        <servlet-class>obrada.RegistracijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavaServlet</servlet-name>
        <servlet-class>obrada.PrijavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrijavljenServlet</servlet-name>
        <servlet-class>obrada.PrijavljenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PomocniServlet</servlet-name>
        <servlet-class>obrada.PomocniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PosaljiPorukuServlet</servlet-name>
        <servlet-class>obrada.PosaljiPorukuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistracijaServlet</servlet-name>
        <url-pattern>/registrujse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavaServlet</servlet-name>
        <url-pattern>/prijavise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrijavljenServlet</servlet-name>
        <url-pattern>/prijavljen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PomocniServlet</servlet-name>
        <url-pattern>/registracija2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PosaljiPorukuServlet</servlet-name>
        <url-pattern>/unesiporuku</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
